@import "../../controls/input/style.css";
@import "../../controls/select/style.css";
@import "../../controls/button/style.css";
@import "../../navigation/pagination/style.css";

@import "./base";
@import "./theme";

.iw-datagrid {
  color: var(--iw-color-text);
  background: var(--iw-color-surface);
  padding: var(--iw-space-3);
  border-radius: var(--iw-radius-md);
}
