@font-face {
  font-family: "Flappy";
  src: url("/fonts/flappy.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Fifty Bird";
  src: url("/fonts/font.ttf") format("truetype");
  font-display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Fifty Bird", system-ui;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

#fullscreen-prompt {
  position: absolute;
  font-family: "Flappy", system-ui;
  font-size: 1.5rem;
  text-align: center;
  animation: blink 1.5s step-start 0s infinite;
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

canvas {
  max-width: 1280px;
  max-height: 720px;
  width: 100vw;
  height: auto;
  cursor: none;
}

@media (orientation: landscape) and (pointer: coarse) {
  canvas {
    width: auto;
    height: 100vh;
  }
}
