* {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

canvas {
  max-width: 1280px;
  max-height: 720px;
  width: 100vw;
  height: auto;
  cursor: none;
}

@media (orientation: landscape) and (pointer: coarse) {
  canvas {
    width: auto;
    height: 100vh;
  }
}

img {
  display: none;
}
