* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  max-width: 800px;
  max-height: 600px;
  width: 100vw;
  height: auto;
  cursor: none;

  @media (orientation: landscape) and (pointer: coarse) {
    canvas {
      width: auto;
      height: 100vh;
    }
  }
}

img {
  display: none;
}
