.iw-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 68rem;
  padding-inline: var(--iw-space-4);
}

.iw-container-centered {
  margin-inline: auto;
}

.iw-container-fixed {
  width: 100%;
}

.iw-container-padding-none {
  padding: 0;
}

.iw-container-padding-sm {
  padding-left: var(--iw-space-2);
}

.iw-container-padding-md {
  padding: var(--iw-space-4);
}

.iw-container-padding-lg {
  padding: var(--iw-space-6);
}

.iw-container-padding-xl {
  padding: var(--iw-space-8);
}
